svg {
  background-color: rgba(255, 0, 0, 0.733);
  color: rgba(255, 0, 0, 0.753);
}
/* div {
  background-color: red;
} */
body {
  background-color: rgba(255, 0, 0, 0.795);
}

.SVGelement {
  fill: rgba(0, 255, 106, 0.897);
  stroke: rgba(1, 243, 14, 0.884);
}

.svg1 {
  color: rgba(36, 10, 182, 0.541);
  fill: rgb(30, 5, 170)
}